.signup_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup_form {
<<<<<<< HEAD
  margin-top: 10px;
=======
  margin-top: 20px;
>>>>>>> auth
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup_form button {
  margin-top: 10px;
  color: white;
  background-color: green;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

.signup_form input {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

<<<<<<< HEAD
.signup_container {
=======
.signup_container p {
>>>>>>> auth
  margin-top: 15px;
  font-size: 16px;
}

.signup_container p a {
  text-decoration: none;
<<<<<<< HEAD
  color: green;
=======
  color: rgb(12, 83, 12);
>>>>>>> auth
  font-size: 18px;
  font-weight: bold;
}
